body
{
margin-left: 5%;
margin-right: 5%;
margin-top: 5%;
margin-bottom: 5%;
text-align: justify;
background-color: #fff;
}
.indent
{
margin: 0px 0px 0px 0px;
font-size:100%;
text-indent:20px;
text-align:justify;
}
.indent1
{
margin: 20px 0px 0px 0px;
font-size:100%;
text-indent:20px;
padding-left:0px;
text-align:justify;
}
.indent2
{
margin: 15px 0px 0px 0px;
font-size:100%;
text-indent:20px;
padding-left:0px;
text-align:justify;
}
.body-text
{
margin:0px 0px 0px 0px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.body-text0
{
margin:13px 0px 0px 0px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.body-text2
{
margin:17px 0px 0px 0px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.body-text1
{
margin:20px 0px 0px 0px;
text-indent:0px;
text-align:justify;
}
.copyz
{
margin:80px 0px 0px 0px;
font-size:85%;
text-align:justify;
}
.copyz1
{
margin:18px 0px 0px 0px;
font-size:85%;
text-align:justify;
}
.copyz2
{
margin:15px 0px 0px 0px;
font-size:85%;
text-align:justify;
}
.copyz3
{
margin:18px 0px 0px 0px;
font-size:85%;
text-align:justify;
}
.copyz4
{
margin:0px 0px 0px 26px;
font-size:85%;
text-align:justify;
}
.copy
{
margin:0px 0px 0px 0px;
font-size:85%;
text-align:justify;
}
.title
{
margin:100px 0px 10px 0px;
font-size:210%;
text-align:center;
}
.author
{
margin: 70px 0px 0px 0px;
font-size:200%;
text-align:center;
}
.edition
{
margin: 55px 0px 0px 0px;
font-size:100%;
text-align:center;
}
.toc_t
{
margin:	125px 0px 60px 0px;
font-size:140%;
text-align:center;
}
.toc_t1
{
margin:	150px 0px 70px 0px;
font-size:140%;
text-align:center;
}
.tocz
{
margin:	16px 0px 0px 0px;
font-size:100%;
text-indent:0px;
text-align:left;
}
.toc
{
margin:	18px 0px 0px 0px;
font-size:100%;
text-indent:0px;
text-align:left;
}
.toca
{
margin:	0px 0px 0px 16px;
font-size:100%;
text-indent:-17px;
padding-left:17px;
text-align:left;
}
.toc0
{
margin:	0px 0px 0px 0px;
font-size:100%;
text-indent:0px;
text-align:left;
}
.chap_tit
{
margin: 140px 0px 0px 0px;
font-size:110%;
text-align:left;
}
.chap_tit2
{
margin: 125px 0px 70px 0px;
font-size:160%;
text-align:center;
}
.chapz
{
margin: 40px 0px 70px 0px;
font-size:140%;
text-align:center;
}
.ded1
{
margin:150px 0px 0px 0px;
font-size:105%;
text-indent:0px;
text-align:center;
}
.ded
{
margin:22px 0px 0px 0px;
font-size:105%;
text-indent:0px;
text-align:center;
}
.img_t
{
margin: 190px 0px 0px 0px;
text-align:center;
}
.blockz
{
margin:20px 20px 0px 20px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.block0z
{
margin:0px 20px 0px 20px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.block_i
{
margin:0px 20px 0px 20px;
text-indent:22px;
font-size:100%;
text-align:justify;
}
.tab
{
font-size:85%;
}
.underline
{
text-decoration: underline;
}
.block
{
margin:20px 20px 20px 20px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.blockb
{
margin:15px 20px 15px 20px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.para1
{
margin:20px 20px 0px 35px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.para1z
{
margin:17px 20px 0px 35px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.para11
{
margin:20px 20px 0px 35px;
text-indent:-22px;
padding-left:22px;
font-size:100%;
text-align:justify;
}
.para111
{
margin:0px 20px 0px 35px;
text-indent:-22px;
padding-left:22px;
font-size:100%;
text-align:justify;
}
.para
{
margin:0px 20px 0px 35px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.paraa
{
margin:0px 20px 0px 35px;
text-indent:-40px;
padding-left:40px;
font-size:100%;
text-align:justify;
}
.para0
{
margin:17px 80px 0px 35px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.para00
{
margin:0px 0px 0px 55px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.para2
{
margin:0px 20px 0px 50px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.para2t
{
margin:0px 20px 0px 52px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.para2a
{
margin:0px 20px 0px 55px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.para23
{
margin:0px 20px 0px 58px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.para3
{
margin:0px 20px 0px 59px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.para3a
{
margin:0px 20px 0px 64px;
text-indent:-43px;
padding-left:43px;
font-size:100%;
text-align:justify;
}
.head
{
margin:20px 0px 20px 0px;
font-size:100%;
text-indent:0px;
text-align:center;
}
.ryt
{
margin:	0px 0px 0px 62px;
font-size:100%;
text-indent:0px;
text-align:left;
}
.ryt1
{
margin:	0px 0px 0px 72px;
font-size:100%;
text-indent:0px;
text-align:left;
}
.ryt2
{
margin:	0px 0px 0px 68px;
font-size:100%;
text-indent:0px;
text-align:left;
}
.paras1
{
margin:20px 20px 0px 30px;
text-indent:-36px;
padding-left:36px;
font-size:100%;
text-align:justify;
}
.paras11
{
margin:0px 20px 0px 30px;
text-indent:-40px;
padding-left:40px;
font-size:100%;
text-align:justify;
}
.head_n
{
margin:18px 0px 18px 0px;
font-size:85%;
text-indent:0px;
font-style:italic;
text-align:left;
}
.head_n0
{
margin:14px 0px 14px 0px;
font-size:85%;
text-indent:0px;
font-style:italic;
text-align:left;
}
.notesz
{
margin:0px 0px 0px 0px;
font-size:85%;
text-indent:20px;
text-align:justify;
}
.notesz1
{
margin:0px 0px 0px -7px;
font-size:85%;
text-indent:20px;
text-align:justify;
}
.blocka
{
margin:20px 20px 20px 30px;
text-indent:0px;
font-size:100%;
text-align:justify;
}
.paraz
{
margin:0px 20px 0px 35px;
text-indent:-38px;
padding-left:38px;
font-size:100%;
text-align:justify;
}